<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clojure webapp - Employees</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/css/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/js/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylefon.css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/homepage" class="site_title"><span>Homepage</span></a>
                </div>


                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-male"></i> Employees <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/allEmployees">All Employees</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-fort-awesome"></i> Projects <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/allProjects">All Projects</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Github</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-git"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="https://github.com/filipkaric">Github profile</a></li>
                                    <li><a href="https://github.com/filipkaric/clojure-web-crud">Project page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <div class="right_col" role="main">
            <!-- top tiles -->
            <div class="container-login100" style="background-image: url('/images/projectimage.png');">
                <div class="">
                    <div class="page-title">
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Employees
                                    </h2>
                                    <div class="clearfix"></div>
                                </div>
                                    <form action="/domain/employees/{{employee.id_employee}}/update" method="post">
                                        <div class="form-group">
                                            <label for="model">Identification number</label>
                                            <input type="text" class="form-control" name="identification_number"
                                                   value="{{employee.identification_number}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="year">Employee name</label>
                                            <input type="text" class="form-control" name="employee_name"
                                                   value="{{employee.employee_name}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="horsepower">Max hours per month</label>
                                            <input type="text" class="form-control" name="max_hours"
                                                   value="{{employee.max_hours}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="horsepower">Hours assigned</label>
                                            <input type="text" class="form-control" name="hours_assigned"
                                                   value="{{employee.hours_assigned}}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="horsepower">Hourly rate (eur)</label>
                                            <input type="text" class="form-control" name="hourly_rate"
                                                   value="{{employee.hourly_rate}}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="man_id">Department code</label>
                                            <select name="id_department" class="form-control" id="id_department">
                                                {{#department}}
                                                    <option value="{{id_department}}">{{id_department}}</option>
                                                {{/department}}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-danger">Save update</button>
                                    </form>
                            </div>
                        </div>

                    </div>

                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            Filip Karic <a href="https://github.com/filipkaric">Github profile</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>

            </div>
            <!-- /top tiles -->


        </div>

        <!-- jQuery -->
        <script src="/js/jquery.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.js"></script>
        <!-- FastClick -->
        <script src="/js/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/js/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="/js/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="/js/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="/js/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="/js/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="/js/skycons.js"></script>
        <!-- Flot -->
        <script src="/js/jquery.flot.js"></script>
        <script src="../vendors/Flot/jquery.flot.pie.js"></script>
        <script src="../vendors/Flot/jquery.flot.time.js"></script>
        <script src="../vendors/Flot/jquery.flot.stack.js"></script>
        <script src="../vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="../vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="/js/jquery.vmap.js"></script>
        <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="/js/moment.min.js"></script>
        <script src="/js/daterangepicker.js"></script>

        <!-- Custom Theme Scripts -->
        <script src="/js/customnew.js"></script>
        <script src="/js/addMain.js"></script>
        <script src="/js/jquery-confirm.min.js"></script>

    </div>
</div>
</body>
</html>
